include LICENSE
include README.md
include pyproject.toml

recursive-include src *.py

# 排除不必要的文件
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so

prune docs
prune tests
prune .pytest_cache
prune .git
